h1{
    color: black;
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 22px;
    color: burlywood;
    width: 444px;
    margin: 0 auto;
    
}

.garden {
    background-image: url(https://gardens.theownerbuildernetwork.co/files/2020/05/FOREST-GARDEN-1-Copy.jpg);
    background-size: 500px 500px;
    color: bisque;
    margin-top: 0 auto;
}

#garden-caption {
    color: darkolivegreen;
}

#Header {
    background-color: bisque;
    border: 1px solid white;
    border-radius: 15px;
}

#scene {
    width: 500px;
    border: 15px solid white;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}