h1{
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 30px;
}

p {
    text-align: center;
    font-size: 22px;
    color: burlywood;
    width: 444px;
    margin: 0 auto;
    
}

.garden {
    background-image: url(https://gardens.theownerbuildernetwork.co/files/2020/05/FOREST-GARDEN-1-Copy.jpg);
    background-size: cover;
    height: 444px;
    width: 100%;
    margin-top: 0 auto;
    border: 20px solid white;
    background-position: bottom center;
    text-align: bottom left;
}

/*trying to control solely text. allowing a border around text, not the background. why no work?*/
.header{
    color: bisque;
    text-align: center;
    border: 1px solid white: 
}
/*related to above code. why no work?*/
#banner {
    background-image: url(https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-1.2.1);
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 100%;
}

#life {
    color: beige;
    font-size: 44px;
    text-align: left;
    
}
#garden-caption {
    color: darkolivegreen;
}


#scene {
    width: 500px;
    border: 15px solid white;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}